// primary nav background color
$nav-primary-bg-color: #222;

// primary font color
$primary-font-color: #ddd;

//active color
$active-color: #1b4e9b;

// title font size
$title-font-size: 2rem;

// text font size
$text-font-size: 1rem;

//font-family
$font-family: "Source Sans Pro", sans-serif;

//box-shadow-value
$box-shadow-value: 0px 2px 6px rgba(1, 1, 1, 0.4);
