.hambuger {
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: #222;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  -webkit-box-shadow: 0px 4px 10px rgba(1, 1, 1, 0.5);
          box-shadow: 0px 4px 10px rgba(1, 1, 1, 0.5);
}

.nav-bar .nav-banner {
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 2px;
}

.nav-bar a {
  text-decoration: none;
  color: #ddd;
  cursor: pointer;
}

.nav-bar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-bar .nav-menu .nav-menu-list {
  list-style: none;
  padding: 1.5vh 3vw;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav-bar .nav-menu .nav-menu-list:hover, .nav-bar .nav-menu .nav-menu-list.active {
  background-color: #333;
}

@media screen and (max-width: 900px) {
  .nav-bar .hambuger {
    position: absolute;
    right: 2vw;
    display: block;
    border-radius: 5px;
  }
  .nav-bar .hambuger .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40px;
    height: 3px;
    margin: 8px;
    background-color: #ddd;
    border-radius: 2px;
  }
  .nav-bar .hambuger:hover {
    background-color: #333;
  }
  .nav-bar .nav-banner {
    position: absolute;
    left: 5vw;
  }
  .nav-bar .nav-menu {
    top: 10vh;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .nav-bar .nav-menu .nav-menu-list {
    display: none;
  }
  .nav-bar .nav-menu.active {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    background-color: #222;
    left: 0;
    width: 100vw;
  }
  .nav-bar .nav-menu.active .nav-menu-list {
    display: block;
    width: 100vw;
    text-align: center;
  }
}

section {
  min-height: 100vh;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=style.css.map */