@import "./navbar";
@import "./section";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    scroll-behavior: smooth;
    color: $primary-font-color;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
}
