@import "./theme/colors";

@import "./basic";

@import "./nav-bar/navbar";

@import "./section";

@import "./grid/grid";

@import "./splash-screen/animation";

section {
    @include section;

    &.hero-section {
        // @include background-img;
        @include flex-center;
        flex-direction: column;

        .title {
            font-size: 8rem;
            letter-spacing: 2px;
        }
        .sub-title {
            @include paragraph;
            font-style: italic;
        }

        .objective {
            @include paragraph;
            font-weight: 300;
            text-align: center;
            max-width: 700px;
            margin: 2rem auto;
        }
    }

    &.works {
        .grid {
            @include grid-layout;
            .card {
                margin: 1rem 2rem;
                box-shadow: 0 0 2px colors("hover");
                background-color: darken(colors("background"), 5%);
                text-align: center;
                img {
                    max-width: 100%;
                    opacity: 0;
                    border-radius: 5px 5px 0 0;
                }

                .card-container {
                    opacity: 0;

                    .card-title {
                        padding-top: 1rem;
                        color: colors();
                    }

                    .card-content {
                        color: colors("secondary");
                        padding: 1rem 1rem 0 1rem;
                    }
                    .card-footer {
                        color: colors("secondary");
                        padding-top: 1rem;
                        font-size: 0.8rem;
                        font-weight: 100;
                    }
                }

                &:hover {
                    box-shadow: 0 0 10px colors("hover");
                }
            }
        }
    }
}

footer {
    text-align: center;

    .social {
        top: 40vh;
        position: fixed;
        right: 2rem;
        i {
            @include flex-center;

            flex-direction: column;
            margin: 1rem;
            font-size: 2rem;
            color: colors("secondary");
            transition: all 0.3s ease-in-out;
        }
    }
    .social i:hover {
        cursor: pointer;
        transform: scale(1.3);
        color: colors("hover");
    }

    .company-details {
        background-color: colors("background");

        padding: 1rem 0;
        color: colors("secondary");
    }
}

@media screen and (max-width: 900px) {
    section {
        &.hero-section {
            padding: 0 1rem;

            .title {
                font-size: 4rem;
            }

            .sub-title {
                font-size: 1rem;
            }

            .objective {
                font-size: 0.95rem;
                font-weight: 200;
            }
        }
        &.works {
            .grid {
                .card {
                    margin: 1rem 0.5rem;
                }
            }
        }
    }

    footer {
        background-color: colors("background");

        .social {
            position: relative;
            top: 0;
            right: 0;
            padding: 1rem;

            i {
                display: inline;
            }
        }
    }
}
