* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: white;
  scroll-behavior: smooth;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
}

.nav-bar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0 2px 8px -2px rgba(5, 3, 3, 0.473);
          box-shadow: 0 2px 8px -2px rgba(5, 3, 3, 0.473);
  z-index: 10000;
}

.nav-bar.fixed-top {
  position: fixed;
}

.nav-bar .nav-banner {
  font-size: 2rem;
  letter-spacing: 2px;
}

.nav-bar .nav-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar .nav-menu-list .nav-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
}

.nav-bar .nav-menu-list .nav-menu-item a,
.nav-bar .nav-menu-list .nav-menu-item div {
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.nav-bar .nav-menu-list .nav-menu-item:hover a,
.nav-bar .nav-menu-list .nav-menu-item div {
  color: #1b95df;
}

.nav-bar .toggle-btn {
  display: none;
}

@media screen and (max-width: 900px) {
  .nav-bar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem;
    background-color: #090e13;
  }
  .nav-bar .nav-menu-list {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 10vh;
    left: 0;
    -webkit-box-shadow: 0 2px 8px -2px rgba(5, 3, 3, 0.473);
            box-shadow: 0 2px 8px -2px rgba(5, 3, 3, 0.473);
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .nav-bar .nav-menu-list .nav-menu-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    padding: 2rem 0;
    background-color: #090e13;
  }
  .nav-bar .nav-menu-list.active {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .nav-bar .toggle-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-bar .toggle-btn .line {
    padding: 0.12rem 1.2rem;
    margin: 0.3rem 0;
    background-color: white;
    border-radius: 2px;
    -webkit-transition: background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .nav-bar .toggle-btn.active .line {
    background-color: #1b95df;
  }
  .nav-bar .toggle-btn.active .line:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 0% 10%;
            transform-origin: 0% 10%;
  }
  .nav-bar .toggle-btn.active .line:nth-child(2) {
    opacity: 0;
  }
  .nav-bar .toggle-btn.active .line:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0% 90%;
            transform-origin: 0% 90%;
  }
}

body .splash-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000000;
  background-color: #090e13;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

body .splash-screen .splash-ani {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

body .splash-screen .splash-ani .ani-obj {
  margin: 0 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #1b95df;
  -webkit-animation: aniobj 1s infinite;
          animation: aniobj 1s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

body .splash-screen .splash-ani .ani-obj:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

body .splash-screen .splash-ani .ani-obj:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes aniobj {
  0% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

@keyframes aniobj {
  0% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

body .splash-screen .splash-title {
  padding-top: 2rem;
  color: #8898a6;
}

body.page-loads .splash-screen {
  height: 0vh;
  opacity: 0;
}

body.page-loads .splash-screen .splash-ani {
  opacity: 0;
}

body.page-loads .splash-screen .splash-title {
  opacity: 0;
}

a::after,
.link::after {
  content: " ";
  display: block;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #1b95df;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

a:hover::after,
.link:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

section {
  min-height: 100vh;
  width: auto;
  padding: 10vh 3rem;
  background-color: #090e13;
}

section .title {
  text-align: center;
  padding: 1rem;
}

section.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.hero-section .title {
  font-size: 8rem;
  letter-spacing: 2px;
}

section.hero-section .sub-title {
  font-size: 1.2rem;
  color: #8898a6;
  font-style: italic;
}

section.hero-section .objective {
  font-size: 1.2rem;
  color: #8898a6;
  font-weight: 300;
  text-align: center;
  max-width: 700px;
  margin: 2rem auto;
}

section.works .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-flex: 300px;
      -ms-flex: 300px;
          flex: 300px;
}

section.works .grid .card {
  height: 450px;
  width: 300px;
  border-radius: 5px;
}

section.works .grid .card {
  margin: 1rem 2rem;
  -webkit-box-shadow: 0 0 2px #1b95df;
          box-shadow: 0 0 2px #1b95df;
  background-color: #010102;
  text-align: center;
}

section.works .grid .card img {
  max-width: 100%;
  opacity: 0;
  border-radius: 5px 5px 0 0;
  -webkit-animation: ImageFadeIn 0.8s 1.4s forwards;
          animation: ImageFadeIn 0.8s 1.4s forwards;
}

section.works .grid .card .card-container {
  opacity: 0;
  -webkit-animation: ContentFadeIn 0.8s 1.6s forwards;
          animation: ContentFadeIn 0.8s 1.6s forwards;
}

section.works .grid .card .card-container .card-title {
  padding-top: 1rem;
  color: white;
}

section.works .grid .card .card-container .card-content {
  color: #8898a6;
  padding: 1rem 1rem 0 1rem;
}

section.works .grid .card .card-container .card-footer {
  color: #8898a6;
  padding-top: 1rem;
  font-size: 0.8rem;
  font-weight: 100;
}

section.works .grid .card:hover {
  -webkit-box-shadow: 0 0 10px #1b95df;
          box-shadow: 0 0 10px #1b95df;
}

@-webkit-keyframes ContentFadeIn {
  0% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ContentFadeIn {
  0% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes ImageFadeIn {
  0% {
    -webkit-transform: translateY(1rem) scale(1.05);
            transform: translateY(1rem) scale(1.05);
    opacity: 0;
    -webkit-filter: blur(1rem);
            filter: blur(1rem);
  }
  50% {
    opacity: 1;
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes ImageFadeIn {
  0% {
    -webkit-transform: translateY(1rem) scale(1.05);
            transform: translateY(1rem) scale(1.05);
    opacity: 0;
    -webkit-filter: blur(1rem);
            filter: blur(1rem);
  }
  50% {
    opacity: 1;
    -webkit-filter: blur(0.5rem);
            filter: blur(0.5rem);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

footer {
  text-align: center;
}

footer .social {
  top: 40vh;
  position: fixed;
  right: 2rem;
}

footer .social i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
  font-size: 2rem;
  color: #8898a6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .social i:hover {
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #1b95df;
}

footer .company-details {
  background-color: #090e13;
  padding: 1rem 0;
  color: #8898a6;
}

@media screen and (max-width: 900px) {
  section.hero-section {
    padding: 0 1rem;
  }
  section.hero-section .title {
    font-size: 4rem;
  }
  section.hero-section .sub-title {
    font-size: 1rem;
  }
  section.hero-section .objective {
    font-size: 0.95rem;
    font-weight: 200;
  }
  section.works .grid .card {
    margin: 1rem 0.1rem;
  }
  footer {
    background-color: #090e13;
  }
  footer .social {
    position: relative;
    top: 0;
    right: 0;
    padding: 1rem;
  }
  footer .social i {
    display: inline;
  }
}
/*# sourceMappingURL=style.css.map */