@keyframes rotate-icons {
    0% {
        transform: Rotate(360deg);
    }
    25% {
        transform: Rotate(270deg) Scale(0.8);
    }
    50% {
        transform: Rotate(180deg) Scale(1.2);
    }
    75% {
        transform: Rotate(90deg) Scale(0.8);
    }
    100% {
        transform: Rotate(0deg);
    }
}

.social {
    .fa {
        animation: rotate-icons 0.5s linear;
    }
}
