@keyframes rotate-icons {
    0% {
        transform: rotate(360deg);
    }
    25% {
        transform: rotate(270deg) scale(0.8);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    75% {
        transform: rotate(90deg) scale(0.8);
    }
    100% {
        transform: rotate(0deg);
    }
}

.social {
    .fa {
        animation: rotate-icons 0.5s linear;
    }
}
