@import "./nav-theme";

.nav-bar {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 10vh;
    width: 100vw;

    backdrop-filter: blur(1rem);

    user-select: none;
    box-shadow: $box-shadow-value;

    z-index: 10000;
    &.fixed-top {
        position: fixed;
    }
    .nav-banner {
        font-size: $title-font-size;
        letter-spacing: 2px;
    }
    .nav-menu-list {
        display: flex;

        .nav-menu-item {
            display: flex;
            padding: 0 2rem;
            a,
            div {
                transition: color 0.3s ease-in-out;
            }

            &:hover a,
            div {
                color: colors("hover");
            }
        }
    }
    .toggle-btn {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .nav-bar {
        justify-content: space-between;
        padding: 0 2rem;
        background-color: colors("background");
        .nav-menu-list {
            position: absolute;
            flex-direction: column;

            top: 10vh;
            left: 0;

            box-shadow: $box-shadow-value;

            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.3s ease-in-out;

            .nav-menu-item {
                justify-content: center;
                align-items: center;
                width: 100vw;

                padding: 2rem 0;

                background-color: colors("background");
            }
            &.active {
                transform: scaleY(1);
            }
        }
        //Toggle button animation
        .toggle-btn {
            display: flex;
            flex-direction: column;

            .line {
                padding: 0.12rem 1.2rem;
                margin: 0.3rem 0;
                background-color: colors();
                border-radius: 2px;

                transition: transform 0.3s ease-in-out,
                    background-color 0.3s ease-in-out;
            }

            &.active {
                .line {
                    background-color: colors("hover");
                }
                .line:first-child {
                    transform: rotate(45deg);
                    transform-origin: 0% 10%;
                }
                .line:nth-child(2) {
                    opacity: 0;
                }
                .line:last-child {
                    transform: rotate(-45deg);
                    transform-origin: 0% 90%;
                }
            }
        }
    }
}
