@mixin grid-layout {
    @include flex-center;
    flex-flow: wrap;
    flex: 300px;
    .card {
        height: 60vh;
        width: 300px;
        border: solid colors("hover") 1px;
        border-radius: 5px;
    }
}
