@mixin grid-layout {
    @include flex-center;
    flex-flow: wrap;
    flex: 302px;
    .card {
        height: 450px;
        width: 302px;
        border: solid colors("hover") 1px;
        border-radius: 5px;
    }
}
