@mixin grid-layout {
    @include flex-center;
    flex-flow: wrap;
    flex: 300px;
    .card {
        height: 60vh;
        width: 300px;
        margin: 1rem 2rem;
        border: solid $active-color 1px;
        border-radius: 5px;
    }
}
